{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid h-100 ">    
    <div class="row">
        <div class="col bg-blush ">            
            <div class="row my-4 text-center">
                <h2 class="mb-0 text-grey">
                    Your Shopping Basket
                </h2>             
            </div>                
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-10 offset-lg-1">

            {% if basket_items %}
                <div class="table-responsive rounded mt-2">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr class="d-none"></tr>
                        </thead> 
                        <tr>
                            <td colspan="5" class="pt-5 text-start">
                                <h4 class="mt-2 {% if classes_total == 0 %} d-none {% endif %}"><strong>Classes</strong></h4>
                            </td>
                        </tr>  
                        <thead class="text-black bg-grey {% if classes_total == 0 %} d-none {% endif %}">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                            {% if item.category == 'class' %}                                        
                                <tr>
                                    <td class="py-3 w-20">
                                        <img class="img-fluid rounded basket-image" src="{{ MEDIA_URL }}{{ item.classes.image }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.classes.name }}</strong></p>  
                                        <p class="my-0 small text-muted d-none d-lg-block">{{ item.classes.description }}</p>          
                                        <p class="my-0 small text-muted d-none d-md-block">
                                            {{ item.classes.series_duration }} videos, {{ item.classes.session_duration }} mins each
                                        </p>                                   </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.classes.price }}</p>
                                    </td>
                                    <td class="py-3 px-2 w-15">
                                        <p class="my-0 my-1" id="id_qty_{{ item.unique_id }}" data-item_id="{{ item.unique_id }}">{{ item.quantity }} &nbsp
                                            <a class="remove-item text-danger float-end" id="remove_{{ item.unique_id }}">
                                                <small><i class="fa fa-trash" aria-hidden="true"></i></small>
                                            </a>
                                        </p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€ {{item.classes.price | line_subtotal:item.quantity }} </p>
                                    </td>
                                </tr>
                                
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-end {% if classes_total == 0 %} d-none {% endif %}">
                                <h5><strong>Classes Total: €{{ classes_total }}</strong></h5>
                            </td>
                        </tr>
                            
                        <tr>
                            <td colspan="5" class="pt-2 text-start">
                                <h4 class="mt-2 {% if products_total == 0 %} d-none {% endif %}"><strong>Products</strong></h4>
                            </td>
                        </tr> 
                        <thead class="text-black bg-grey {% if products_total == 0 %} d-none {% endif %}">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col" ></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        {% for item in basket_items %}
                            {% if item.category == 'product' %}                                        
                                <tr>
                                    <td class="py-3 w-20">
                                        <img class="img-fluid rounded basket-image" src="{{ MEDIA_URL }}{{ item.products.image }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.products.name }}</strong></p>            
                                        <p class="d-none d-md-block my-0 small text-muted">{{ item.products.description }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€{{ item.products.price }}</p>
                                    </td>
                                    <td class="py-3 w-15">
                                        <form class="form update-form" method="POST" action="{% url 'update_basket' item.unique_id %}">
                                            {% csrf_token %}
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.unique_id }}"
                                                id="id_qty_{{ item.unique_id }}">
                                        </form>
                                        <a class="update-item ">
                                            <small><i class="fa fa-pencil-square-o teal-text" aria-hidden="true"></i></small>
                                        </a>
                                        <a class="remove-item text-danger float-end" id="remove_{{ item.unique_id }}">
                                            <small><i class="fa fa-trash" aria-hidden="true"></i></small>
                                        </a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">€ {{item.products.price | line_subtotal:item.quantity}} </p>
                                    </td>
                                </tr>
                                </hr>
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-end {% if products_total == 0 %} d-none {% endif %}">
                                <h5><strong>Products Total: €{{ products_total }}</strong></h5>
                            </td>
                        </tr>
                                                
                        <tr>
                            <td colspan="5" class="pt-5 text-end">
                                <h6><strong>SubTotal: €{{ sub_total }}</strong></h6>
                                <h6>Delivery: €{{ delivery }}</h6>
                                <h4 class="mt-4"><strong>Total to pay: €{{ grand_total }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">View our shop</span>
                                </a>
                                <a href="{% url 'classes' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Find a class</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'shop' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">View our shop</span>
                </a>
                <a href="{% url 'classes' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Find a class</span>
            {% endif %}
        </div>
    </div>    
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update product qty on icon click
    $('.update-item').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove product and reload on icon click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId)
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}