{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container-fluid h-100 ">
    <div class="row">
        <div class="col bg-blush">            
            <div class="row my-4 text-center">
                <h2 class="mb-0 text-grey">Meet our Trainers</h2>             
            </div>            
        </div>
    </div>
    <div class="row mx-2 py-2  g-4 text-center">
        {% for trainer in trainers %}   
        <div class="col d-flex justify-content-center mx-auto">
            <div class="card p-3 m-4 text-center shadow-sm" style="width: 18rem;">
                <img src="{{ MEDIA_URL }}{{ trainer.image }}" class="card-img-top" alt="headshot image of the trainer {{ trainer.name }}">
                <div class="card-body">
                    <h4 class="card-title text-pink fw-bold">{{ trainer.name }}</h4>
                    <p class="card-text text-muted my-0">Years practicing: {{ trainer.years_practicing }}</p>
                    <p class="card-text text-muted my-0">Years teaching: {{ trainer.years_teaching }}</p>
                    <p class="card-text mt-2">{{ trainer.bio }}</p>
                    <a href="{% url 'classes' %}?trainer={{ trainer.name }}" class="btn btn-pink">Check out {{ trainer.name }}'s classes!</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}