html {
    height: 100%;
}


/* fonts */

body{
    font-family: 'Poppins', sans-serif;
}

.logo-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
}

.mobile-logo-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
}

/* Colours */
.bg-lilac{
    background-color: #B1B8FC;
}

.lilac-txt{
    color: #B1B8FC;
}

.lilac-txt-dark{
    color: #9DA6FB;
}

.bg-white{
    background-color: white;
}

.mint-txt{
    color: #8BF8B5;
}
.bg-mint{
    background-color: #8BF8B5;
}

/* from Bulma for icons*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#navsearch input, 
#navsearch button{
    display: inline;
}

#accountOptions{
    color: white;
}

#classesLink{
    color: #9DA6FB;
}

.header-container{
    padding-top: 6rem
}

/* --------------------------Buttons page */

.btn-mint{
    background-color: #8BF8B5;
    color:white;
}
/* --------------------------Trainers page */

.trainer-card{
    padding-bottom: 1.5rem;    
}

/* Wider card display on xl screens */
@media (min-width: 1300px) {
    .trainer-card {
        width: 23rem !important;
    }
  }