html {
    height: 100%;
}


/* fonts */

body{
    font-family: 'Poppins', sans-serif;
}

.logo-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
}

.mobile-logo-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
}

/* Colours */
.bg-lilac{
    background-color: #B1B8FC;
}

.lilac-txt{
    color: #B1B8FC;
}

.lilac-txt-dark{
    color: #9DA6FB;
}

.bg-white{
    background-color: white;
}

/* from Bulma for icons*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

#navsearch input, 
#navsearch button{
    display: inline;
}

#accountOptions{
    color: white;
}

#classesLink{
    color: #9DA6FB;
}