html {
    height: 100%;
}

/* fonts */

body{
    font-family: 'Poppins', sans-serif;
}

.logo-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
}

.mobile-logo-font{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
}

/* Colours */
.bg-lilac{
    background-color: #B1B8FC;
}

.lilac-txt{
    color: #B1B8FC;
}

.lilac-txt-dark{
    color: #9DA6FB;
}

.bg-white{
    background-color: white;
}

.teal-text{
    color:#01B6A3;
}

.bg-orange{
    background-color: #FFA38B;
}
.text-orange{
    color: #FFA38B;
}
.text-pink{
    color: #E0527C;
}
.bg-pink{
    background-color: #E0527C;
}
.pink-under{
    border-bottom: 2px solid #E77497;
}
.bg-blush{
    background-color: #FCD0BF;
}
.bg-grey{
    background-color:#D2D4C8;
}
.text-grey{
    color:#6F725A;
}

/* -------------------- Navbar */

#navsearch input, 
#navsearch button{
    display: inline;
}

#accountOptions{
    color: white;
}

.header-container{
    padding-top: 6rem
}

/* to reduce on med screens where navbar is smaller */
@media (min-width: 300px) and (max-width: 374px) {
    .header-container{
        padding-top:3rem;
    }
  }

@media (min-width: 375px) and (max-width: 750px) {
    .header-container{
        padding-top:3.75rem;
    }
}
/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 5rem;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* --------------------------Buttons  */

.btn-mint{
    background-color: #8BF8B5;
    color:white;
}

.btn-teal{
    background-color: #01B6A3;
    color:white;
}

.btn-pink{
    background-color: #E0527C;
    border: 2px solid #E0527C;
    color:white;
}

.btn-pink:hover {	
	color: #fff;
    background-color: #E77497;
    border: 2px solid #E77497;
}

.btn-outline-pink{
    background-color: white;
    color:#E0527C;
    border: 2px solid #E0527C
}

.btn-outline-pink:hover {	
    background-color: white;
    color: #E77497;
    border: 2px solid #E77497
}

/* --------------------------images */
.order-summary-img{
    max-width: 8rem;
    max-height: 4.5rem;
}

/* ------------------------------- All auth pages */

.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}

.allauth-form-inner-content input::placeholder{
    color: #B4B7A4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #E0527C;
    border: 1px solid #E0527C;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #E77497;
    border-color: #E77497;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* --------------------------General/multi page*/


body{
    height: calc(100vh - 10rem);
    width: 100%;
    background: url('/media/home2.jpeg') no-repeat center center fixed;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding-top:1rem;
}

/* to display page title on small screenss */
@media (max-width: 370px) {
    body {
        padding-top:2rem;
    }
  }

  @media (min-width: 425px) and (max-width: 635px){
    body {
        padding-top: .5rem;
    }
  }


/* To hide background home image */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* --------------------------About page */
.about-image img{
    max-height: 15rem;
}
/* --------------------------Basket page */

.update-item, 
.remove-item{
    cursor:pointer;
}

.basket-image {
    max-width: 170px;
    max-height: 120px
}

@media (min-width: 375px) and (max-width: 750px){
    .basket-image,
    .order-summary-img {
        max-width: 63.58px;
        max-height: 42.4px;
    }
  }

@media (max-width: 375px){
    .basket-image {
        max-width: 57.2px;
        max-height: 38.16px;
    }
  }

.qty-td{
    width:12.5%;
}


/*--------------------------Profile page */

  .profile-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
    
  .profile-input:focus,
  .profile-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
    
  .profile-input::placeholder {
      color: #B4B7A4
  }

  #user-order-link{
    text-decoration: none;
    color: black;

  }

  #user-order-link:hover {
    color:#FFA38B;
    text-decoration:none; 
    cursor:pointer;  
}

/*--------------------------Shop  page */

.shop-sort{
    width: 150px !important;
}
.shop-search{
    width: 175px !important;
}
.shop-search input{
    width: 125px;
}

@media (max-width: 375px){
    .shop-search{
        width: 175px !important;
    }
    .shop-search input{
        width: 125px;
    }
  }

/*-------------------------- Footer ---*/
  footer{
    color:white;
    text-align: center;
    bottom: 0;
}

footer .social-link{
    color: white;
    font-size: medium;
}

footer .copyright{
    font-size: 5px;
}

/*--To push down footer on home page -*/
.footer-push{
    height: 80vh;
}