{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid h-100 ">
    <div class="row">
        <div class="col bg-blush">            
            <div class="row my-4 text-center">
                <h2 class="mb-0 text-grey">{{ classes.name }}</h2>             
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-11 mx-auto">
            <div class="card text-center mx-auto my-4 border-0">
                <div class="row mt-1">
                    <div class="col-6">
                        <img src="{{ MEDIA_URL }}{{ classes.image }}" class="img-fluid img-rounded" alt="image for {{ classes.name }}">
                        <p class="d-block d-lg-none my-2 text-center small">{{ classes.description }}</p>
                    </div>
                    <div class="col-6">                    
                        <ul class="list-group list-group-flush">
                        <li class="d-none d-lg-block list-group-item text-center">{{ classes.description }} </li>
                        <li class="list-group-item text-center"><strong>Practice:</strong> {{ classes.practice|title }} </li>
                        <li class="list-group-item text-center"><strong>Trainer:</strong> {{ classes.trainer|title }} </li>
                        <li class="list-group-item text-center"><strong>Level:</strong> {{ classes.level|title }}</li>
                        <li class="list-group-item text-center"><strong>Intensity:</strong> {{ classes.intensity|title }}</li>
                        <li class="list-group-item text-center"><strong>Session Length:</strong> {{ classes.session_duration }} mins, {{ classes.series_duration }} sessions</li>
                        <li class="list-group-item text-center"><strong>Equipment needed:</strong> {{ classes.equipment|title }}</li>                        
                        </ul>
                        <div class='row'>
                            <div class="col">
                                <h3 class="card-body text-center">Price: €{{ classes.price }}</h3>
                            </div>
                            <div class="col text-center justify-content-center">
                                <form class="form" action="{% url 'add_class_to_basket' classes.id %}" method="POST">
                                    {% csrf_token %}                                     
                                    <input type="hidden"
                                        name="quantity" value="1">            
                                    <input type="hidden" name="category" value="{{ classes.category }}">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    
                                    <input type="submit" class="btn btn-pink text-uppercase mt-3" value="Add to Basket">                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
{% endblock %}





<div class="col{% if s %}-12 mt-2{% endif %}">
    <a href="{% url 'classes' %}" class="btn rounded-0 mt-5">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Find more classes</span>
    </a>
    <input type="submit" class="btn text-uppercase mt-5" value="Add to Basket">
</div>