{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid h-100 ">
    <div class="row">
        <div class="col bg-blush">            
            <div class="row my-4 text-center">
                <h2 class="mb-0 text-grey">Our Classes</h2>             
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col my-3 py-3">           
            <div class="dropdown d-inline m-2">
                <button class="btn btn-outline-pink dropdown-toggle mb-2" type="button" id="dropdownMenuTrainer" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Trainer:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuTrainer">
                    <a href="{% url 'classes' %}" class="dropdown-item">Clear Filter</a>
                    {% for trainer in trainer_list %}
                        <a href="{% url 'classes' %}?trainer={{ trainer.name }}" class="dropdown-item">{{ trainer.name|title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown d-inline m-2">
                <button class="btn btn-outline-pink dropdown-toggle mb-2" type="button" id="dropdownMenuPractice" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Practice:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuPractice">
                    <a href="{% url 'classes' %}" class="dropdown-item">Clear Filter</a>
                    {% for practice in practices %}
                        <a href="{% url 'classes' %}?practice={{ practice.name }}" class="dropdown-item">{{ practice.name|title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown d-inline m-2">
                <button class="btn btn-outline-pink dropdown-toggle mb-2" type="button" id="dropdownSort" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownSort">
                    <a href="{% url 'classes' %}" class="dropdown-item">Reset</a>
                    <a href="{% url 'classes' %}?sort=price&direction=asc" class="dropdown-item">Price: low-high</a>
                    <a href="{% url 'classes' %}?sort=price&direction=desc" class="dropdown-item">Price: high-low</a>
                    <a href="{% url 'classes' %}?sort=name&direction=asc" class="dropdown-item">Class: A-Z</a>
                    <a href="{% url 'classes' %}?sort=name&direction=desc" class="dropdown-item">Class: Z-A</a>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        {% if trainer %}
            <div class="row">
                <h3 class="text-grey fw-bold">Classes taught by {{ trainer }}</h3>
            </div>>
        {% endif %}
        {% if practice %}
            <div class="row">
                <h3 class="text-grey fw-bold">All {{ practice|title }} Classes</h3>
            </div>>
        {% endif %}
        {% for class in classes %}  
            <div class="col d-flex justify-content-center mx-auto ">
                
                <div class="card p-3 m-3 text-center h-100 border-0" style="width: 18rem;">
                    <a href="{% url 'class_info' class.id %}">
                        <img src="{{ MEDIA_URL }}{{ class.image }}" class="card-img-top" alt="image for {{ class.name }} class">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-pink fw-bold">{{ class.name|title }}</h4>
                        <p class="card-text text-muted my-0">€ {{ class.price }}</p>
                    </div>
                    {% if request.user.is_superuser %}
                        <div class="col pb-2 pink-under">
                            <a href="{% url 'edit_class' class.id %}" class="btn btn-sm btn-teal">
                                Edit
                            </a>
                            <a href="{% url 'delete_class' class.id %}" class="btn btn-sm btn-teal">
                                Delete
                            </a>
                        </div>
                    {% endif%}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script>
    $('.dropdown-toggle').dropdown()
</script>


{% endblock %}

